body{
    background: rgba(34, 50, 50, 0.842);
    font: normal 12pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background:rgba(34, 50, 50, 0.842);
    border-radius: 10pt;
    width: 500px;
    margin: auto;
    box-shadow:3px 4px 10px white;

}

div{
    text-align: center;
}

img{
    text-align: center;
    padding: 8px 3px 3px 3px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
