@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;

}
header{
    background-color: rgba(169, 169, 169, 0.505);
    height: 100px;
    padding-top: 20px;
}
header > h1{
    text-align: center;
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
section > article{
    text-align: center;
}
p{
    text-align: justify;
}
table{
    width: 400px;
    margin: auto;
    border-collapse: collapse;
    position: relative;
}
caption{
    background-color: rgba(211, 211, 211, 0.719);
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
}
th,td{
    border: 1px solid black;
    padding: 10px;
}
td{
    text-align: left;
}
td.num{
    text-align: right;
}
tbody > tr:nth-child(odd){/* odd ou 2n-1*/
    background-color: white;
}
thead > tr > th{
    position: sticky;
    top: -1px;
    background-color: gray;
}
tbody > tr:nth-child(even){ /*even ou 2n*/
    background-color: lightgray;
}
thead, tfoot{
    background-color: rgb(128, 128, 128);
    color: white;
}
footer p{
    background-color: rgba(169, 169, 169, 0.505);
    font-size: .8em;
    text-align: center;
    padding: 5px;
}